In [1]:
import pandas as pd
movie_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.item'
movie_cols = ['movie_id', 'title']
movies = pd.read_table(movie_url, sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [2]:
rating_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.data'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table(rating_url, sep='\t', header=None, names=rating_cols)
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [3]:
movie_ratings = pd.merge(movies, ratings)
movie_ratings.head()

   movie_id             title  user_id  rating  timestamp
0         1  Toy Story (1995)      308       4  887736532
1         1  Toy Story (1995)      287       5  875334088
2         1  Toy Story (1995)      148       4  877019411
3         1  Toy Story (1995)      280       4  891700426
4         1  Toy Story (1995)       66       3  883601324

In [4]:
users_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user' # please comment
users_info = pd.read_table(users_url, sep='|')
users_info.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [9]:
combined = pd.merge(movie_ratings, users_info, on='user_id', how='left')

In [12]:
combined.shape
combined.head()

,movie_id,title,user_id,rating,timestamp,age,gender,occupation,zip_code
0,1,Toy Story (1995),308,4,887736532,60,M,retired,95076
1,1,Toy Story (1995),287,5,875334088,21,M,salesman,31211
2,1,Toy Story (1995),148,4,877019411,33,M,engineer,97006
3,1,Toy Story (1995),280,4,891700426,30,F,librarian,22903
4,1,Toy Story (1995),66,3,883601324,23,M,student,80521

In [18]:
movie_ratings[movie_ratings.title == "Star Wars"].rating.mean()
movie_ratings[movie_ratings.title.str.contains("Star Wars")].rating.mean()

# What is the average rating of the movie with the id 7
combined[combined.movie_id == 7].rating.mean()

3.798469387755102

In [20]:
# Mean of Star Wars
combined[combined.title == 'Star Wars (1977)'].rating.mean()

4.3584905660377355

In [24]:
#Average rating for women and men
male_average = combined[combined.gender == 'M'].rating.mean()
female_average = combined[combined.gender == 'F'].rating.mean()
print 'On average, males rated movies: %.3f, and females rated movies: %.3f.' %(male_average,
                                                                                female_average)

On average, males rated movies: 3.529, and females rated movies: 3.532.

In [29]:
lawyers = combined[combined.occupation.str.contains('law')].rating.mean()
students = combined[combined.occupation.str.contains('student')].rating.mean()
print 'On average laweyers gave movies a %.3f ranking. Students, on average, rank movies %.3f' % (lawyers, students)

On average laweyers gave movies a 3.735 ranking. Students, on average, rank movies 3.515

In [44]:
lawyer_std = combined[combined.occupation.str.contains('law')].rating.std()
print lawyer_std
# For the quantile function, I chose to use 25% as the example, but you could see all 
# of the major quartiles by doing a .describe
lawyer_quart = combined[combined.occupation.str.contains('law')].rating.quantile(q=0.25)
print lawyer_quart

1.09848803378
3.0

In [138]:
# Who is more likely to have rated Star Wars as a percentage of their group? Lawyers, students, or engineers

# def stud_sw():
#     rate_rate = combined[combined]

# combined[(combined.occupation == 'student'].user_id.nunique() 

# & (combined.title=='Star Wars (1977)')]


#students = combined[combined.title=='Star Wars (1977)'].(occupation == 'student').value_counts()
#combined.head()

#combined[(combined.title=='Star Wars (1977)') & (combined.occupation == 'student').user_id.nunique()]

# combined(combined.occupation=='student'.user_id.nunique() & combined.title=='Star Wars (1977)')


combined[(combined.occupation=='student').user_id.nunique() & (combined.title=='Star Wars (1977)')].size

combined.occupation.value_counts()
count = 0
for x in students:
     if x == True:
         count +=1

print count

ValueError: columns overlap but no suffix specified: Index([u'movie_id', u'title', u'user_id', u'rating', u'timestamp', u'age',
       u'gender', u'occupation', u'zip_code'],
      dtype='object')